<!DOCTYPE html>
<html>
<body>
<h1>Add User</h1>
<form action="/add" method = 'POST'>
  User's name:<br>
  <input type="text" name="name" value="Electrifying Emily">
  <br>
  Email:<br>
  <input type="text" name="email" value="emilyexample@example.com">
  <br>
  Url:<br>
  <input type="text" name="url" value="http://www.emilyswebsite-hoorah.place">
  <br>
  Profile Picture:<br>
  <input type="text" name="profile_picture" value="https://api.adorable.io/avatars/285/sweeet@adorable.io.png">
  <br>
  
  <input type="submit" value="Submit">
</form> 

</body>
</html>